.menu-wrapper {
    padding : 5px;
}
.menu{
    border-radius: 4px;
    border: 1px solid #eee;
}

.store{
    background-color : #c2cad1;
    text-align : center;
}

.img{
    padding : 5px;
    background : white;
}

.name{
    background-color: #f7f8f7;
}
